setuptools>=41.2
matplotlib
pandas
seaborn
papermill
ipykernel
jupyter
folium
plotly
plotnine
psutil
pymc3
arviz
xlrd
altair
altair_saver
jinja2
selenium
geopandas
tika
tensorflow_hub
numpy
bs4
requests
