matplotlib
pandas
seaborn
papermill
ipykernel
jupyter
folium
plotly
plotnine
psutil
pymc3
arviz
xlrd
altair
altair_saver
jinja2
selenium
geopandas
tika
tensorflow
tensorflow_text
tensorflow_hub
numpy
bs4
requests
absl-py
wheel
scipy
manim
